/**
 * Developer: Bashar Astifan 2023
 * Link: https://github.com/basharast
 * License: Free, Not for commercial use!
 */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  background-attachment: fixed;
  background-image: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
}

body .div {
  padding: 40px;
  border-radius: 10px;
  background: #101820;
  box-shadow: 10px 10px #C4A816;
  margin-top: -70px;
}

body .div textarea {
  margin: 5px;
  resize: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px #CCB32E;
  width: 350px;
  height: 250px;
}

.checkbox-input,
.checkbox-label {
  cursor: pointer;
}

.invokeai-input {
  width: 100% !important;
}

.reverse-check {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}

.input-label {
  position: absolute;
  cursor: pointer;
  margin-top: -20px;
  margin-left: 5px;
}

.input-label-invoke {
  position: absolute;
  cursor: pointer;
  transform: rotate(-90deg);
  margin-left: -70px;
  margin-top: 125px;
}

.auto1111-copy-a {
  position: absolute;
  margin-top: -18px;
  margin-left: 145px;
  cursor: pointer;
}

.auto1111-copy-b {
  position: absolute;
  margin-left: 153px;
  cursor: pointer;
  margin-top: -18px;
}

.invokeai-copy {
  position: absolute;
  margin-left: -14px;
  cursor: pointer;
  margin-top: 50px;
}

.copy-text {
  font-size: 13px;
  color: greenyellow;
  margin-top: 0px;
  position: absolute;
  width: 85px;
  display: none;
}

.copy-text-invokeai {
  font-size: 13px;
  color: greenyellow;
  margin-top: -55px;
  position: absolute;
  width: 85px;
  display: none;
  transform: rotate(-90deg);
  margin-left: -52px;
}

.auto1111-tokens-a {
  position: absolute;
  margin-top: -26px;
  margin-left: 315px;
  background: #28865a;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.auto1111-tokens-b {
  position: absolute;
  margin-top: -26px;
  margin-left: 365;
  background: #bf4343;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.invokeai-tokens-a {
  position: absolute;
  margin-top: -27px;
  margin-left: 683px;
  background: #bf4343;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.invokeai-tokens-b {
  position: absolute;
  margin-top: -27px;
  margin-left: 633px;
  background: #28865a;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

body .div textarea:focus {
  outline: none;
}

body .div button {
  border: none;
  background: #101820;
  margin-top: 20px;
}

body .div button:focus {
  outline: none;
}

footer {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  background-color: #101820;
  color: #fff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid;
}

footer a:hover {
  border-bottom: 1px transparent;
}