/**
 * Developer: Bashar Astifan 2023
 * Link: https://github.com/basharast
 */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  background-attachment: fixed;
  background-image: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
}

body .div {
  padding: 30px;
  border-radius: 10px;
  background: #101820;
  box-shadow: 10px 10px #C4A816;
  position: absolute;
  top: 3%;
}

body .div textarea,
.CodeMirror {
  position: unset !important;
  margin: 5px;
  resize: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px #CCB32E;
  width: 350px;
  height: 250px !important;
  scrollbar-width: thin;
}

::-webkit-scrollbar,
*-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track,
*-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb,
*-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border: transparent;
}

tr {
  margin: auto;
  display: flex;
}

th {
  display: inline;
}

.options {
  margin-left: 5px;
  margin-top: -15px;
}

.checkbox-input,
.checkbox-label {
  cursor: pointer;
}

.invokeai-input {
  width: 100% !important;
}

.invokeai-input~.CodeMirror {
  width: 727px;
}

.CodeMirror-placeholder {
  color: gray !important;
}

.prompt-input,
.cm-s-night.CodeMirror {
  background-color: #222122 !important;
  color: white;
  text-align: left;
}

.CodeMirror-simplescroll-horizontal,
.CodeMirror-simplescroll-vertical {
  position: relative !important;
  z-index: 6;
  background: #101820;
  float: right;
  margin-right: -5px;
}

.CodeMirror {
  cursor: text;
  font-weight: lighter;
}

.options-check {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
  border: 1px solid #ccb32e;
  padding: 5px;
}

.input-label {
  position: absolute;
  cursor: pointer;
  margin-top: -20px;
  margin-left: 5px;
}

.input-label-invoke {
  cursor: pointer;
}

.auto1111-copy-a {
  margin-top: 1px;
  cursor: pointer;
  position: absolute;
  margin-left: 5px;
}

.auto1111-copy-b {
  cursor: pointer;
  margin-top: 1px;
  position: absolute;
  margin-left: 5px;
}

.invokeai-copy {
  cursor: pointer;
  margin-left: 3px;
  position: absolute;
}

.copy-text {
  font-size: 13px;
  color: greenyellow;
  margin-top: 0px;
  position: absolute;
  width: 100px;
  display: none;
}

.copy-text-invokeai {
  font-size: 13px;
  color: greenyellow;
  margin-top: -1px;
  position: absolute;
  width: 100px;
  display: none;
  margin-left: 0px;
}

.auto1111-tokens-a {
  background: #28865a;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.auto1111-tokens-b {
  background: #bf4343;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.invokeai-tokens-a {
  background: #bf4343;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.invokeai-tokens-b {
  background: #28865a;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.limit-weight-positive {
  max-width: 50px;
  background: #28865a;
  color: wheat;
  text-align: center;
}

.limit-weight-negative {
  max-width: 50px;
  background: #bf4343;
  color: wheat;
  text-align: center;
}

.limit-weight[disabled] {
  background-color: gray;
  opacity: 0.9;
}

body .div textarea:focus {
  outline: none;
}

body .div button {
  border: none;
  background: #101820;
  margin-top: 20px;
}

body .div button:focus {
  outline: none;
}

footer {
  position: fixed;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  background-color: #101820;
  color: #fff;
  text-align: center;
  z-index: 500;
}

footer a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid;
}

footer a:hover {
  border-bottom: 1px transparent;
}