/**
 * Developer: Bashar Astifan 2023
 * Link: https://github.com/basharast
 */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  background-attachment: fixed;
  background-image: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
}

body .div {
  padding: 30px;
  border-radius: 10px;
  background: #101820;
  box-shadow: 10px 10px #C4A816;
  position: absolute;
  top: 3%;
  width: 52.5%;
}

body .div textarea,
.CodeMirror {
  position: unset !important;
  margin: 5px;
  resize: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px #CCB32E;
  width: 100%;
  height: 240px !important;
  scrollbar-width: thin;
}

::-webkit-scrollbar,
*-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track,
*-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb,
*-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border: transparent;
}

tr {
  margin: auto;
  display: flex;
}

th {
  display: contents;
}

.options {
  margin-left: 5px;
  margin-top: -15px;
}

.checkbox-input,
.checkbox-label {
  cursor: pointer;
}

.invokeai-input {
  width: 100% !important;
}

.CodeMirror-placeholder {
  color: gray !important;
}

.prompt-input,
.cm-s-night.CodeMirror {
  background-color: #222122 !important;
  color: white;
  text-align: left;
}

.cm-s-night.CodeMirror {
  margin-right: 10px;
}

.CodeMirror-simplescroll-horizontal,
.CodeMirror-simplescroll-vertical {
  position: relative !important;
  z-index: 6;
  background: #101820;
  float: right;
  margin-right: -5px;
}

.CodeMirror {
  cursor: text;
  font-weight: lighter;
}

.options-check {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
  border: 1px dashed #ccb32e;
  padding: 5px;
  min-height: 20px;
  border-radius: 5px;
}

.input-label {
  position: absolute;
  cursor: pointer;
  margin-top: -20px;
  margin-left: 5px;
}

.input-label-invoke {
  cursor: pointer;
}

.auto1111-copy-a {
  margin-top: 1px;
  cursor: pointer;
  position: absolute;
  margin-left: 5px;
}

.auto1111-copy-b {
  cursor: pointer;
  margin-top: 1px;
  position: absolute;
  margin-left: 5px;
}

.invokeai-copy {
  cursor: pointer;
  margin-left: 3px;
  position: absolute;
  margin-top: 2px;
}

.invokeai-copy-b {
  cursor: pointer;
  position: absolute;
  margin-left: 5px;
  margin-top: 2px;
}

.copy-text {
  font-size: 13px;
  color: greenyellow;
  margin-top: 0px;
  position: absolute;
  width: 100px;
  display: none;
}

.copy-text-invokeai {
  font-size: 13px;
  color: greenyellow;
  margin-top: -1px;
  position: absolute;
  width: 100px;
  display: none;
  margin-left: 92px;
}

.auto1111-tokens-a {
  background: #28865a;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.auto1111-tokens-b {
  background: #bf4343;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.invokeai-tokens-a {
  background: #28865a;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.invokeai-tokens-b {
  background: #bf4343;
  min-width: 50px;
  min-height: 22px;
  border-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  text-align: center;
  padding-top: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.invokeai-release {
  margin-left: 25px;
  background: transparent;
  border-radius: 5px;
  color: #ccb32e;
  font-weight: bold;
  border: solid 1px;
  cursor: pointer;
  width: 85px;
}

select>option {
  color: #101820;
  cursor: pointer;
}

.online-image {
  background: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid tan;
}

.online-image.wrong {
  background: transparent;
  color: rgb(192, 46, 46);
  border: 1px solid rgb(218, 68, 49);
}

.online-image.correct {
  background: transparent;
  color: rgb(70, 192, 46);
  border: 1px solid rgb(139, 218, 49);
}

.online-image[disabled] {
  background: gray;
  opacity: 0.7;
}

.loader {
  border-radius: 50%;
  animation: spin 2s linear infinite;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid #f3f3f3;
  border-top-color: rgb(243, 243, 243);
  border-top-style: solid;
  border-top-width: 3px;
  border-top: 3px solid #ccb32e;
  margin-bottom: -3px;
}

.switch-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

input[type=checkbox].switch {
  position: absolute;
  opacity: 0;
  margin-left: 0px;
  width: 30px;
  height: 18px;
}

input[type=checkbox].switch+div {
  vertical-align: middle;
  width: 40px;
  height: 20px;
  border-radius: 999px;
  background-color: #727272;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  cursor: pointer;
}

input[type=checkbox].switch+div span {
  position: absolute;
  font-size: 1.6rem;
  color: white;
  margin-top: 12px;
}

input[type=checkbox].switch+div span:nth-child(1) {
  margin-left: 15px;
}

input[type=checkbox].switch+div span:nth-child(2) {
  margin-left: 55px;
}

input[type=checkbox].switch:checked+div {
  width: 30px;
  background-position: 0 0;
  background-color: #727272;
}

input[type=checkbox].switch+div {
  width: 30px;
  height: 18px;
  display: inline-block;
  margin-top: -1px;
}

input[type=checkbox].switch:checked+div {
  background-color: #57BB00;
}

input[type=checkbox].switch+div>div {
  float: left;
  width: 16px;
  height: 16px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color;
  transition-property: transform, background-color;
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}

input[type=checkbox].switch:checked+div>div {
  -webkit-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
}

input[type=checkbox].bigswitch.switch+div>div {
  width: 44px;
  height: 44px;
  margin-top: 1px;
}

input[type=checkbox].switch:checked+div>div {
  -webkit-transform: translate3d(12px, 0, 0);
  transform: translate3d(12px, 0, 0);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

  .invokeai-tokens-b,
  .invokeai-tokens-a,
  .auto1111-tokens-b,
  .auto1111-tokens-a {
    margin-top: 0px !important;
  }

  .notifications__new {
    top: -3px;
  }
}

@-moz-document url-prefix() {
  .notifications__new {
    top: -18px;
  }
}


.limit-weight-positive {
  max-width: 50px;
  background: #28865a;
  color: wheat;
  text-align: center;
  height: 20px;
  border-radius: 5px;
  border: 1px solid;
}

.limit-weight-negative {
  max-width: 50px;
  background: #bf4343;
  color: wheat;
  text-align: center;
  height: 20px;
  border-radius: 5px;
  border: 1px solid;
}

.limit-weight[disabled] {
  background-color: gray;
  opacity: 0.9;
}

body .div textarea:focus {
  outline: none;
}

body .div button {
  border: none;
  background: #101820;
  margin-top: 20px;
}

body .div button:focus {
  outline: none;
}

footer {
  position: fixed;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  background-color: #101820;
  color: #fff;
  text-align: center;
  z-index: 500;
}

footer a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid;
}

footer a:hover {
  border-bottom: 1px transparent;
}

@media screen and (max-width: 980px) {
  body .div {
    width: 95% !important;
    top: 0%;
  }
}

@media screen and (min-width: 980px) and (max-width: 1320px) {
  body .div {
    width: 75% !important;
  }
}