/* Notifications */
/*https://codepen.io/ryanmorr/pen/MyVvLg*/
#notification-container {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.notification {
    display: block;
    position: fixed;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
    min-width: 250px;
    border-radius: 4px;
    box-shadow: 0 0 12px #999;
    color: #1d2d3d;
    -webkit-animation: show-notification 5s ease-out;
    animation: show-notification 5s ease-out;
    text-align: left;
    right: 10px;
}

.notification-close {
    padding: 0;
    cursor: pointer;
    background: none;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd;
}

.notification-close:hover {
    color: #666;
}

.notification-title {
    font-size: 1.1em;
    font-weight: bold;
}

.notification-success::before,
.notification-error::before,
.notification-info::before,
.notification-warning::before {
    font-family: 'FontAwesome';
    font-size: 35px;
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.notification-success {
    background-color: #90b900;
}

.notification-error {
    background-color: #e85656;
}

.notification-info {
    background-color: #2dacd1;
}


.notification-warning {
    background-color: #dfb81c;
}

@-webkit-keyframes show-notification {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
    }

    10% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }

    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
    }
}

@keyframes show-notification {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }

    10% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }
}

.notifications {
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notifications .material-icons {
    color: #a3a3a3;
}

@-webkit-keyframes notification_new_sonar {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes notification_new_sonar {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}

.notifications__new {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -3px;
    background-color: #e03b30;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.4s;
}

.notifications__new.is-active {
    transform: scale(1);
}

.notifications__new.is-active:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -9px;
    top: -9px;
    background: transparent;
    border: 4px solid #e03b30;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: notification_new_sonar 3s 3s ease infinite;
    animation: notification_new_sonar 3s 3s ease infinite;
}